html, body {
    display: flex;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    height: 100%;
    width: 100%;
    color: #DFE2E1;
    overflow: hidden;
}

                                                             
.game-leftpanel {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 30%;
    background: url("https://images.unsplash.com/photo-1602718597275-ae1ab8070b7d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHB1bXBraW4lMjBwYXRjaHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat;
    background-size: cover;
}
.game-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    text-align: center;
}

#start-btn {
    background: coral;
    color: #DFE2E1;
    cursor: pointer;
    font-weight: 100;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
    margin-top: 15px;
}

#start-btn:hover {
	background: #DFE2E1 !important;
    color: #404040;
	font-weight: 700;
	letter-spacing: 3px;
	background: none;
	transition: all 0.3s ease 0s;
}

.game-scoreboard {
    position: absolute;
    text-align: center;
    border-radius: 25px;
    background: #DFE2E1;
    width: 296px;
    height: 189px;
    bottom: 84px;
    color: coral;
    left: 50%;
    transform: translateX(-50%);
}

#farm-sign {
    position: absolute;
    pointer-events: none;
    width: 345px;
    height: auto;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.game-board {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ABA34D;
    width: 70%;

}

.pumpkinSpotA {
    width: 90px;
    height: 90px;
    position: absolute;
    background: url('./ImagesSounds/pumkinA.png') no-repeat;
    background-size: contain;
}

.pumpkinSpotB {
    width: 90px;
    height: 90px;
    position: absolute;
    background: url('./ImagesSounds/pumpkinB.png') no-repeat;
    background-size: contain;
}

.pumpkinSpotC {
    width: 90px;
    height: 90px;
    position: absolute;
    background: url('./ImagesSounds/pumpkinC.png') no-repeat;
    background-size: contain;
}

.halloweenPumpkinSpotA {
    width: 90px;
    height: 90px;
    position: absolute;
    background: url('./ImagesSounds/halloweenPumpkinA.png');
    background-size: contain;
}

.halloweenPumpkinSpotB {
    width: 90px;
    height: auto;
    position: absolute;
    background: url('./ImagesSounds/halloweenPumpkinB.png');
    background-size: contain;
}

.halloweenPumpkinSpotC {
    width: auto;
    height: 90px;
    position: absolute;
    background: url('./ImagesSounds/halloweenPumpkinC.png');
    background-size: contain;;
}
/* Popup container */
.popupGameOver {
    visibility: hidden;
    position: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  /* The actual popup (appears on top) */
.popupText {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    z-index: 1;
  }

  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popupGameOver .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
